@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron text-center">
    <a href="/Products" class="btn btn-primary">View Products</a>
    <h1>Welcome to My Website</h1>
    <p>This is a simple home page using Bootstrap 4.</p>

</div>
